header{
	background-color: #FFF;
}

.titulo{
	font-size: 20px; 
	padding: 5px;
}
.buscador{
	margin: 5px;
	font-size: 20px;
	color: #78787b;
	background-color: rgba(0,0,0,.1);
	border-width: 3px;
	padding: 1px;
	border-radius: 3px;
}
.bm{
	float: right;
}

.menu_buscador{
	width: 100%;
}

.transpariencia{
	background: none;
	border: none;
	outline: none;
}
.transpariencia button{
	padding: 7px;
}

.btn_lateral{
	color: rgba(0,0,0,.6);
	border-radius: 10px;
	font-size: 20px;
}

.cabecera div{
	margin: 5px;
}